@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins:ital,wght@0,200;0,300;1,100;1,200&family=Work+Sans:wght@300&display=swap');


.App{
    min-height: 100vh;
    display: flex;
    /* background-image: url("./background.png"); */
   background-size: cover;
  background-position: center; 
}